.request-options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: sticky;
  bottom: 0;
  left: 0;
}

.request-options-buttons {
  display: flex;
  justify-content: space-between;
}
