.aside {
  position: relative;
  height: 100%;
  padding: 0.5rem;
  overflow: hidden;
}

.visible {
  background-color: #f7f2b4;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  overflow-y: scroll;
}

@media (max-width: 540px) {
  .aside {
    height: 60px;
  }

  .visible {
    height: 300px;
    margin-bottom: 1rem;
  }
}
