.playground-section {
  display: flex;
  flex-direction: row;

  gap: 1rem;
  border: 1px solid #333;
  border-radius: 0.5rem;
  position: relative;
  height: 100%;
  padding: 1rem;
}

@media (max-width: 678px) {
  .playground-section {
    flex-direction: column;
  }
}
