.playground-page {
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  min-height: calc(100vh - 200px);
}

@media (max-width: 540px) {
  .playground-page {
    flex-direction: column;
  }
}
